{{!-- {{yield}} --}}
<div class="wrapper">
    <span class="icon-close" {{action 'closeBtnAction'}}><i class="bi bi-x"></i></span>
    <div class="form-box login">
        {{login-popup}}
    </div>

    <div class="form-box register">
        {{register-popup}}
    </div>
</div>